<div class="home-top-box">
    <div class="home">
        <div class="link-box">
            <div routerLink="/resume" title="Click to view the Resume" class="box">
                <img style="width: 25px;" src="assets/next.svg" alt="" />
                <span>
                    View Resume
                </span>
            </div>
            <br>
            <div class="box" style="background-color: #4f4f4f;">
                <img style="width: 25px;" src="assets/portfolio.svg" alt="" />
                <span>
                    <a class="link" href="https://xftchain.club">xftchain</a>
                </span>
            </div>
        </div>
    </div>
    <div class="home-top-box-img">
        <!-- <img src="assets/profile.jpg" alt=""> -->
    </div>
</div>
<div class="home-bottom-box">

</div>