<div class="home-top-box">
  <div class="home">
    <div>
      <div class="home-heading">
        <label style="padding-bottom: 10px;">Mayank Saxena</label>
        <label style="font-size: 15px;font-weight: lighter;">Full Stack Software Developer</label>
      </div>
    </div>
    <div class="link-box">
      <div routerLink="/portfolio" title="Click to view the portfolio" class="box">
        <img style="width: 25px;" src="assets/next.svg" alt="" />
        <span>
          View Portfolio
        </span>
      </div>
      <br>
      <div routerLink="/resume" title="Click to view the Resume" class="box" style="background-color: #4f4f4f;">
        <img style="width: 25px;"  src="assets/portfolio.svg" alt="" />
        <span>
         View Resume
        </span>
      </div>
    </div>
  </div>
  <div class="home-top-box-img">
    <!-- <img src="assets/profile.jpg" alt=""> -->
  </div>
</div>
<div class="home-bottom-box">

</div>
